*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    /* font-family: Lato; */
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    color: #000;    
}
ul {
    list-style: none;
}

a{ 
    text-decoration: none;
}
.wrapper{
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header{
    padding: 22px 0px;
}
.header__wrap{
    display: flex;
    align-items: center;
}